/* -------------------- FONT --------------------- */

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito+Sans:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* ---------------- CODE COULEUR ----------------- */

/* Color Theme Swatches in Hex via Adobe Color */
.color-kyoto-travel-agency-1-hex { color: #161623; }
.color-kyoto-travel-agency-2-hex { color: #3c3f69; }
.color-kyoto-travel-agency-3-hex { color: #F2F2F2; }
.color-kyoto-travel-agency-4-hex { color: #FF8291; }
.color-kyoto-travel-agency-5-hex { color: #FF0037; }
.color-kyoto-travel-agency-6-hex { color: #A5004B; }

/* Color Theme Shadow in Hex */
.color-kyoto-travel-agency-7-hex { color: #380018; }

/* ==================== BODY ===================== */ 

/* on modifie le style du body (par défaut) */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* va prendre en compte le padding, les bordures etc... dans le calcule des largeurs et des hauteurs (ne fera pas +) */
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #161623;
}

/* =================== NAVBAR ==================== */

nav {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
}

/* on cible le contenant <ul> */
.nav-liste {
    background: linear-gradient(122deg, rgba(255,0,55,0.8) 0%, rgba(165,0,75,0.8) 25%, rgba(12,12,50,0.8) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 20;
}

/* on cible les éléments <li> */
.nav-item {
    display: flex;
    align-items: center;
}

/* on cible les liens <a> */
.nav-item a {
    font-family: 'Noto sans';
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    color: #F2F2F2;
    text-decoration: none;
    margin: 0 25px;
    text-transform: uppercase; /* passer le texte en MAJ */
}

.nav-logo-menu {
    position: absolute;
    z-index: 25;
    top: 10px;
    right: 15px;
    color: #F2F2F2;
    font-size: 3.2rem; /* pour modifier la taille d'un svg FontAwesome, utiliser les propriétés "font" */
    display: none;
}

/* -------------- ANIMATION NAVBAR --------------- */

.nav-item a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background-color: #FF8291;
    transition: width 0.2s ease-in-out;
}

.nav-item a:hover::after {
    width: 100%;
    border-radius: 20px;
}

/* ----------------------------------------------- */

@media screen and (max-width: 700px) {
    .nav-logo-menu {
        display: block;
    }
    .nav-liste {
        padding-top: 35px;
        flex-direction: column;
        height: auto;
        position: relative;
        display: none;
    }
    .nav-liste.active {
        display: block;
    }
    .nav-item {
        height: 70px;
        justify-content: center;
    }
}

/* ================== ACCUEIL ==================== */

.accueil {
    width: 100%;
    height: 100vh;
    min-height: 970px; /* empêche l'image de se déformer si on réduit l'écran de haut en bas */
    background-image: url(../image/accueil-pic-lum-down.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2.5px solid #3c3f69;
    padding-top: 1px;
}

.accueil-logo-kyoto {
    border-radius: 50%;
    width: 220px;
    display: block;
    margin: 160px auto 0;
}

.accueil h1 {
    text-align: center;
    font-size: 100px;
    text-shadow: 0 5px 4px #380018;
    color: #F2F2F2;
    margin-top: 25px;
    font-family: 'merienda one', sans-serif;
    text-transform: uppercase;
}

.accueil .sous-titre {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #F2F2F2;
    margin: 4px 0;
    text-shadow: 0 4px 2px #380018;
    text-transform: uppercase; /* passer le texte en MAJ */
}

/* ----------- BOUTON "EN SAVOIR PLUS" ----------- */

.btn-accueil {
    border-radius : 9999px;
    background: #FF0037;
    color: #F2F2F2;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    display: block;
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    margin: 30px auto 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 2px #380018;
}

.btn-accueil:hover {
    background: #A5004B;
    color: #F2F2F2;
    width: 220px;
    height: 75px;
    line-height: 75px;
    font-size: 22px;
    opacity: 0.9;
}

/* ----------------------------------------------- */

@media screen and (max-width : 1020px) {
    .accueil {
        background-position: right;
    }
}

@media screen and (max-width : 850px) {
    .accueil {
        height: 650px;
        min-height: auto;
        background-position: right;
    }
    .accueil-logo-kyoto {
        margin: 120px auto 0;
    }
    .accueil h1 {
        font-size: 60px;
    }
    .accueil .sous-titre {
        font-size: 20px;
    }
    .btn-accueil {
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        margin: 15px auto 0;
    }
}

@media screen and (max-width : 400px) {
    .accueil {
        height: 550px;
    }
    .accueil-logo-kyoto {
        width: 150px;
        margin: 160px auto 0;
    }
    .accueil h1 {
        font-size: 35px;
    }
    .accueil .sous-titre {
        font-size: 20px;
    }
    .btn-accueil {
        width: 130px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
    }
    .nav-logo-menu {
        top: 15px;
        width: 40px;
    }
}

/* ================== GALERIE ==================== */

.section-gallery {
    background: #161623;
    position: relative;
}

.gallery-group-item {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; /* centre la galerie */
    padding-top: 80px; /* obligé de mettre un padding-top, ne prend pas mon margin ? */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.gallery-item {
    width: 350px;
    height: 250px;
    margin: 6px;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden; /* masque ce qui sort de l'image */
    flex-shrink: 0; /* empêche les images de se réduire */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.gallery-item:hover {
    transform: translateY(-1px);
    border: 2px solid #FF8291;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.gallery-item img {
    width: 110%; /* image trop petite pour les dimensions du container */
    height: auto;
}

/* ================= DÉCOUVRIR =================== */

/* ------------------- GRID ---------------------- */

.section-discover {
    background: #161623;
    position: relative;
    /* z-index: -20; */
    display: grid;
    /* on paramètre notre grille !
    1. la taille de nos rangées = 200px
    2. le nombre de répétition de rangées = repeat(3, auto)
    3. avec / on passe aux colonnes
    4. une colonne au milieu de 600px 
    5. de chaque coté 1fr/1fr qui se partagent le reste de l'espace dispo */
    grid-template: 200px repeat(3, auto) / 1fr 600px 1fr;
}

.section-discover h2 {
    color: #F2F2F2;
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'merienda one', sans-serif;
}

/* --------------- GRID POSITION ----------------- */

.discover-bloc-1, .discover-image-grid-1 {
    grid-area: 2 / 2 / 3 / 3;
}

.discover-bloc-2, .discover-image-grid-2 {
    grid-area: 3 / 2 / 4 / 3;
}

.discover-bloc-3, .discover-image-grid-3 {
    grid-area: 4 / 2 / 5 / 3;
}

/* ----------------------------------------------- */

.discover-bloc {
    background: #F2F2F2;
    padding: 10px;
    position: relative;
    border: 2px solid #3c3f69;
    border-radius: 10px;
    height: 750px;
    margin-bottom: 250px;
    transition: all 0.2s ease-in-out;
}

.discover-bloc:hover {
    border: 2px solid #FF8291;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.discover-image-grid {
    width: 550px;
    height: 750px;
    object-fit: cover;
    position: relative;
    border: 2px solid #3c3f69;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.discover-image-grid:hover {
    transform: translateY(-1px);
    border: 2px solid #FF8291;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* --------------- PARTIE GAUCHE ----------------- */

.discover-image-grid-1, .discover-image-grid-3 {
    top: 130px;
    left: 20px;
}

.discover-bloc-left {
    left: -300px;
}

.discover-texte-left {
    width: 50%;
    height: 100%;
}

.discover-texte-left h3 {
    white-space: nowrap;
    font-size: 35px;
    margin: 30px 15px;
}

.discover-texte-left p {
    line-height: 25px;
    padding: 15px;
    text-align: justify;
}

/* --------------- PARTIE DROITE ----------------- */

.discover-bloc-right {
    right: -300px;
}

.discover-image-grid-2 {
    top: 130px;
    left: 25px;
}

.discover-texte-right {
    position: absolute;
    right: 15px;
    width: 50%;
    height: 100%;
}

.discover-texte-right h3 {
    position: relative;
    font-size: 35px;
    margin: 30px 15px;
}

.discover-texte-right p {
    line-height: 25px;
    padding: 15px;
    text-align: justify;
}

/* ----------- BOUTON "EN SAVOIR PLUS" ----------- */

.discover-bloc button {
    border-radius : 9999px;
    border: none;
    background: #FF0037;
    color: #F2F2F2;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    margin: 30px auto 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.discover-bloc button:hover {
    background: #A5004B;
    color: #F2F2F2;
    opacity: 0.9;
}

/* ------------------- LIGNES -------------------- */

/* .line-left {
    grid-area: 1 / 2 / -1 / 3;
    border-left: 1.5px solid #3c3f69;
}

.line-right {
    grid-area: 1 / 3 / -1 / 4;
    border-left: 1.5px solid #3c3f69;
} */

/* ----------------------------------------------- */

@media screen and (max-width : 1200px) {
    .section-discover {
        grid-template: 200px repeat(6, auto) 100px / 1fr 600px 1fr;
    }
    .section-discover h2 {
        font-size: 50px;
        padding-bottom: 0px;
    }
    .discover-bloc {
        height: 100%;
        margin-bottom: 0;
    }
    .discover-image-grid {
        position: static;
        width: 600px;
        height: 750px;
    }
    .discover-bloc-1 {
        grid-area: 2 / 2 / 3 /3;
    }
    .discover-image-grid-1 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .discover-bloc-2 {
        grid-area: 4 / 2 / 5 / 3;
    }
    .discover-image-grid-2 {
        grid-area: 5 / 2 / 6 / 3;
    }
    .discover-bloc-3 {
        grid-area: 6 / 2 / 7 /3;
    }
    .discover-image-grid-3 {
        grid-area: 7 / 2 / 8 / 3;
    }
    .discover-image-grid-1, .discover-image-grid-3 {
        top: 0px;
        left: 0px;
    }
    .discover-image-grid-2 {
        top: 0px;
        left: 0px;
    }
    .discover-bloc-left {
        left: 0px;
    }
    .discover-bloc-right {
        right: 0px;
    }
    .discover-texte-left {
        width: 100%;
        height: 100%;
    }
    .discover-texte-left h3, .discover-texte-right h3 {
        text-align: center;
    }
    .discover-texte-left p, .discover-texte-right p {
        font-size: 20px;
        line-height: 1.8;
        padding: 15px;
    }
    .discover-bloc button {
        font-size: 20px;
        /* padding: 15px 30px; */
        margin-bottom: 30px;
    }
    .discover-texte-right {
        position: static;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width : 600px) {
    .section-discover {
        grid-template: 150px repeat(6, auto) 100px / 100%;
    }
    .line-left, .line-right {
        display: none;
    }
    .section-discover h2 {
        font-size: 30px;
    }
    .discover-bloc, .discover-image-grid {
        grid-area: auto;
    }
    .discover-image-grid {
        width: 100%;
        height: 500px;
    }
    .discover-texte-right {
        width: 100%;
    }
    .discover-texte-left h3, .discover-texte-right h3 {
        font-size: 25px;
    }
}

/* ================= PARALLAX ==================== */

.section-parallax {
    width: 100%;
    height: 450px;
    background: url(../image/parallax-large-flou.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-parallax p {
    font-size: 75px;
    color: #F2F2F2;
    font-weight: 700;
}

.section-parallax span {
    display: block;
    font-size: 25px;
    color: #F2F2F2;
}

/* ----------------------------------------------- */

@media screen and (max-width : 400px) {
    .section-parallax p {
        font-size: 55px;
    }
}

/* ================== TARIFS ===================== */

.section-tarifs {
    padding-bottom: 100px;
    border-bottom: 1px dashed #161623;
}

.section-tarifs h3 {
    text-align: center;
    font-size: 45px;
    margin: 40px;
    padding: 0 30px;
}

.section-tarifs hr {
    width: 200px;
    margin: 20px auto 50px;
}

.tarifs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarifs-card {
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin: 15px 15px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    position: relative;
}

.tarifs-card:hover {
    transform: translateY(-4px);
}

.tarifs-card h4 {
    text-align: center;
    padding: 30px 25px;
    padding-bottom: 20px;
    font-size: 35px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
    background-color: #FF8291;
    color: #F2F2F2;
    border-radius: 5px;
}

.tarifs-card span {
    color: #3c3f69;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.tarifs-card:nth-child(2) h4 {
    background-color: #FF0037;
}

.tarifs-card:nth-child(3) h4 {
    background-color: #A5004B;
}

.tarifs-card p {
    padding: 20px 10px;
    border-top: 1px solid #F2F2F2;
}

.tarifs-card i {
    margin-right: 5px;
    font-size: 20px;
}

.tarifs-card .fa-check-circle {
    color: #3c3f69;
}

.tarifs-card .fa-times-circle {
    color: #A5004B;
}


.tarifs-card p:last-of-type {
    border-bottom: 1px solid #F2F2F2;
}

.tarifs-card p:nth-child(odd) {
    background: rgb(195, 195, 195, 0.2);
}

/* ------------ BOUTON "RESERVEZ" --------------- */

.tarifs-card a {
    border-radius: 9999px;
    outline: none;
    border: 1px solid #A5004B;
    color: #A5004B;
    width: 180px;
    height: 50px;
    font-size: 18px;
    margin: 30px auto;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.2s ease-in-out;
}

.tarifs-card a:hover {
    background: #A5004B;
    color: #F2F2F2;
    opacity: 0.9;
}

/* ----------------------------------------------- */

@media screen and (max-width : 900px) {
    .section-tarifs h3 {
        font-size: 35px;
        margin: 80px 0 80px;
    }
}

@media screen and (max-width : 425px) {
    .section-tarifs h3 {
        font-size: 30px;
        padding: 0 10px;
        margin: 50px 0;
    }
    .section-tarifs hr {
        width: 200px;
        margin: 20px auto 20px;
    }
}

/* ================== CONTACT ==================== */

.section-contact {
    padding-bottom: 100px;
}

.section-contact h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
}

.section-contact h3 strong {
    font-weight: 700;
}

.contact-container {
    margin: 0 auto;
    width: 70%;  
}

.form-groupe {
    position: relative;
    margin-bottom: 45px;
}

.form-groupe label {
    color: #161623;
    font-size: 20px;
}

.form-groupe input {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid rgb(195, 195, 195, 0.2);
    color: rgb(195, 195, 195, 0.2);
    font-size: 20px;
    font-style: italic;
}

textarea {
    width: 100%;
    height: 200px;
    border: none;
    border: 2px solid rgb(195, 195, 195, 0.4);
    border-radius: 3px;
    padding: 5px;
    resize: none;
    outline: none;
    font-size: 20px;
    font-style: italic;
    background: #F2F2F2;
}

.form-groupe:nth-child(4) {
    margin-bottom: 25px;
}

/* -------------- BOUTON "ENVOYEZ" --------------- */

.form-groupe button {
    border-radius: 9999px;
    border: 2px solid #A5004B;
    color: #A5004B;
    width: 180px;
    height: 50px;
    font-size: 20px;
    display: block;
    background: white;
    background-image: linear-gradient(to right, transparent 50%, #A5004B 50%, #A5004B);
    background-size: 200%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form-groupe button:hover {
    color: #F2F2F2;
    background-position: 100%;
    border: 2px solid #A5004B;
}

/* ----------------------------------------------- */

@media screen and (max-width : 1300px) {
    .section-contact h2 {
        padding: 70px 0 0 0;
    }
    .contact-container {
        padding-left: 0;
    }
}

/* ================== FOOTER ===================== */

footer {
    border-top: 1px solid;
    width: 100%;
    text-align: center;
}




